* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-around;
  height: 80px;
  align-items: center;
  position: sticky;
  top: 0px;
}

.navbar::before {
  content: "";
  /* background-color: rgb(57 93 21); */
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
  top: 0px;
  left: 0px;
}

.logo img {
  margin: -4rem -6rem;
  width: 130%;
}

.logo p {
  margin: -1rem 1rem;
  /* padding: 1rem; */
  /* padding-left: 2rem; */
  width: 73px;
  font-family: cursive;
}

.nav-list li {
  margin: 3rem 1rem;
  list-style: none;
}
.nav-list li a {
  text-decoration: none;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  letter-spacing: 3px;
}
.nav-list li a:hover {
  color: rgb(224, 14, 14);
  cursor: pointer;
}
.nav-list ul {
  display: flex;
}

.container {
  /* background-color: thistle; */
  height: 286px;
  background: url(/img/orange1.jpg) no-repeat center center/cover;
  position: relative;
  display: grid;
  z-index: 0;
  display: block;
}
.container::before {
  content: "";
  background: rgba(27, 27, 27, 0.4);
  position: absolute;
  top: 0;
  min-height: 100%;
  z-index: -1;
  left: 0;
  right: 0;
  /* opacity: 0.8;  */
}

.about {
  padding: 3rem 9rem;
}

.stage {
  border-left: 4px solid #585151;
  padding-left: 24px;
}
.stage h2 {
  font-size: 50px;
  color: #f7f3f3;
  font-weight: 500;
}
.stage p {
  font-size: 20px;
  color: #f7f3f3;
  width: 58%;
  line-height: 32px;
  margin: 1rem 0rem;
}

.step ul {
  display: flex;
}
.step ul li {
  list-style: none;
  color: #f7f3f3;
  font-size: 19px;
  letter-spacing: 2px;
}

.step ul li a {
  text-decoration: none;
  color: #0e0d0d;
  font-size: 19px;
  letter-spacing: 2px;
}
.step ul li a i {
  color: #0e0d0d;
  letter-spacing: 8px;
}

.send {
  /* background-color: #585151; */
  height: 229px;
}
.sub {
  display: flex;
  justify-content: space-evenly;
}
.personal {
  padding: 2rem 0rem;
}

.personal a i {
  margin-left: -2rem;
  margin-top: 3rem;
  font-size: 22px;
  color: rgb(76, 214, 76);
  /* border: green; */
}
.personal h2 {
  margin: -1.8rem 0.5rem;
  font-size: 27px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #676363;
}
.personal p {
  margin: 3rem 0.5rem;
  font-size: 19px;
  letter-spacing: 2px;
}

.sec {
  height: 800px;
  padding: 1rem 10rem;
}

.generate {
  /* background-color: #676363; */
  height: 600px;
  width: 100%;
}
.div {
  /* padding: 0rem 8rem; */
  margin-left: 7rem;
}

input[type="text"] {
  padding: 0rem 1rem;
  font-size: 16px;
  letter-spacing: 1px;
}
input[type="text"]:focus {
  background-color: rgb(149, 153, 143);
  outline: none;
}

textarea {
  width: 90.1%;
  border-radius: 5px;
  height: 200px;
  padding: 1rem 1rem;
  font-size: 19px;
  resize: none;
  background-color: #f8f9fa;
  border: 1px solid #dedede;
  color:#777; 
}
textarea:focus {
  background-color: rgb(149, 153, 143);
  outline: none;
}

/* input[type=message]{
padding:0rem 1rem ;
}
input[type=message]:focus-visible{
  background-color: rgb(149, 153, 143);
  outline: none;
} */

.name {
  width: 44%;
  height: 60px;
  border-radius: 5px;
  background-color: #f8f9fa;
  border: 1px solid #dedede;
}

.email {
  width: 44%;
  height: 60px;
  margin-left: 1.4rem;
  border-radius: 5px;
  background-color: #f8f9fa;
  border: 1px solid #dedede;
}

.subject {
  margin: 1.2rem 0rem;
  width: 90%;
  height: 80px;
  border-radius: 5px;
  background-color: #f8f9fa;
  border: 1px solid #dedede;
}

.message {
  margin: 0.2rem 0rem;
  width: 90%;
  height: 180px;
  border-radius: 5px;
  background-color: #f8f9fa;
  border: 1px solid #dedede;
}

.submit {
  margin-left: 67.7rem;
  padding: 1rem 3rem;
  font-size: 20px;
  letter-spacing: 2px;
  /* border: 13px; */
  border-radius: 10px;
  background: rgb(111 171 51);
  cursor: pointer;
  margin-top: 1rem;
}
.submit:hover {
  background-color: goldenrod;
}
